<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" id="climb-img" src="<%= @climb.image %>">
  </div>
  <div class="card-content">
    <p class="card-title activator orange-text text-darken-4"><%=@climb.name%><i class="material-icons right">more_vert</i></p>
    <%= link_to new_comment_path(@climb), class: "btn waves-effect waves-light red" do %>
      <i class="material-icons right">comment</i>
      Add a Comment
    <% end %>
  </div>
  <div class="card-reveal">
    <span class="card-title btn-floating btn-large waves-effect waves-light red"><%=@climb.name%><i class="material-icons">close</i></span>
    <span class="climb-data">
      <div class="section">
        <h6>Rating</h6>
        <p>V<%=@climb.rating%></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Style</h6>
        <p><%=@climb.style%></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Gear</h6>
        <p>
          <% @climb.gear.split(", ").each do |gear| %>
            <li><%= gear %></li>
          <% end %>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Gym</h6>
        <p><%=@climb.gym?%></p>
      </div>
    </span>
  </div>
</div>
