<h1> Edit Climb Location </h1>
<%= form_for @climb, url: edit_climb_path(@climb), method: :patch do |climb| %>
 <div>
   <h3><%= climb.text_field :name, placeholder: "Name", class: "form-field" %></h3>
 </div>
 <div>
   <h3><%= climb.text_field :latitude, placeholder: "Latitude(optional)", class: "form-field" %>
 </div>
 <div>
   <h3><%= climb.text_field :longitude, placeholder: "Longitude(optional)", class: "form-field" %>
 </div>
 <div>
   <h3><%= climb.text_field :image, placeholder: "Image", class: "form-field" %></h3>
 </div>
 <div>
   <h3><%= climb.text_field :gear, placeholder: "Gear", class: "form-field" %></h3>
 </div>
 <div>
   <h3><%= climb.text_field :style, placeholder: "Type", class: "form-field" %></h3>
</div>
   <div>
     <p>Is this a gym? </p>
     <%= radio_button_tag(:gym?, "True") %>
<%= label_tag(:gym?, "Yes") %>
<%= radio_button_tag(:gym?, "False") %>
<%= label_tag(:gym?, "No") %>
   </div>


 <%= climb.submit "Edit Location", :class => "btn btn-primary signup" %>
<% end %>
