<div class="container">
  <h1> Edit Climb Location </h1>
      <%= form_for @climb, method: :patch do |climb| %>


      <form class="form-horizontal">
        <fieldset>

          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <%= climb.text_field :name, class: "form-field" %>
            </div>
            <label for="inputLatitude" class="col-lg-2 control-label">Latitude(Optional)</label>
            <div class="col-lg-10">
              <%= climb.text_field :latitude, class: "form-field" %>
            </div>
            <label for="inputLongitude" class="col-lg-2 control-label">Longitude(Optional)</label>
            <div class="col-lg-10">
              <%= climb.text_field :longitude, placeholder: "Longitude(optional)", class: "form-field" %>
            </div>
            <label for="inputImage" class="col-lg-2 control-label">Image</label>
            <div class="col-lg-10">
              <%= climb.text_field :image, placeholder: "Image", class: "form-field" %>
            </div>
            <label for="inputGear" class="col-lg-2 control-label">Gear</label>
            <div class="col-lg-10">
              <%= climb.text_field :gear, placeholder: "Gear", class: "form-field" %>
            </div>
            <label for="inputStyle" class="col-lg-2 control-label">Style</label>
            <div class="col-lg-10">
              <%= climb.text_field :style, placeholder: "Type", class: "form-field" %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputRating" class="col-lg-2 control-label">Rating</label>
            <div class="col-lg-10">
              <%= select_tag(:rating, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Is this a gym?</label>
            <div class="col-lg-10">
              <div class="radio">
                <%= radio_button_tag('climb[gym]', true) %>
                <label>
                  Yes
                </label>
              </div>
              <div class="radio">
                <%= radio_button_tag('climb[gym]', false) %>
                <label>
                  No
                </label>
              </div>
            </div>

            <label class="col-lg-2 control-label">Geolocation present?</label>
            <div class="col-lg-10">
              <div class="radio">
                <!-- <%= radio_button_tag(:geolocation, true) %> -->
                <%= radio_button("climb", "geolocation", true) %>
                <label>
                  Yes
                </label>
              </div>
              <div class="radio">
                <!-- <%= radio_button_tag(:geolocation, false) %> -->
                <%= radio_button("climb", "geolocation", false) %>
                <label>
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">

            <%= climb.submit "Edit Location", :class => "btn btn-primary signup" %>
            <!-- <button type="submit" class="btn btn-primary">Edit Location</button> -->
          </div>

        </fieldset>
      </form>













      <!--
       <div>
         <h3><%= climb.text_field :name, placeholder: "Name", class: "form-field" %></h3>
       </div>
       <div>
         <h3><%= climb.text_field :latitude, placeholder: "Latitude(optional)", class: "form-field" %>
       </div>
       <div>
         <h3><%= climb.text_field :longitude, placeholder: "Longitude(optional)", class: "form-field" %>
       </div>
       <div>
         <h3><%= climb.text_field :image, placeholder: "Image", class: "form-field" %></h3>
       </div>
       <div>
         <h3><%= climb.text_field :gear, placeholder: "Gear", class: "form-field" %></h3>
       </div>
       <div>
         <h3><%= climb.text_field :style, placeholder: "Type", class: "form-field" %></h3>
      </div>
         <div>
           <p>Is this a gym? </p>
           <%= radio_button_tag(:gym?, "True") %>
      <%= label_tag(:gym?, "Yes") %>
      <%= radio_button_tag(:gym?, "False") %>
      <%= label_tag(:gym?, "No") %>
         </div>


       <%= climb.submit "Edit Location", :class => "btn btn-primary signup" %> -->
      <% end %>
</div>
