
<div class="row">

  <div class="col-md-3 col-md-offset-4 new_loc">

    <h1> New Climb Location </h1>
    <%= form_for @climb do |climb| %>
    <div>
      <h3><%= climb.text_field :name, placeholder: "Name", class: "form-field" %></h3>
    </div>
    <div>
      <h3><%= climb.text_field :latitude, placeholder: "Latitude(optional)", class: "form-field" %>
    </div>
    <div>
      <h3><%= climb.text_field :longitude, placeholder: "Longitude(optional)", class: "form-field" %>
    </div>
    <div>
      <h3><%= climb.text_field :image, placeholder: "Image", class: "form-field" %></h3>
    </div>
    <div>
      <h3><%= climb.text_field :gear, placeholder: "Gear", class: "form-field" %></h3>
    </div>
    <div>
      <h3><%= climb.text_field :style, placeholder: "Type", class: "form-field" %></h3>
    </div>
    <div>
      <h3><%= climb.text_field :rating, placeholder: "Difficulty 1-10", class: "form-field" %></h3>
    </div>
    <div>
      <p>Is this a gym? </p>
      <%= radio_button_tag(:gym?, "True") %>
      <%= label_tag(:gym?, "Yes") %>
      <%= radio_button_tag(:gym?, "False") %>
      <%= label_tag(:gym?, "No") %>
    </div>
    <%= climb.submit "Submit New Location", :class => "btn btn-primary signup" %>
    <% end %>
  </div>
</div>

<!-- create_table "climbs", force: :cascade do |t|
  t.datetime "created_at",                null: false
  t.datetime "updated_at",                null: false
  t.string   "name"
  t.string   "image"
  t.float    "longitude"
  t.float    "latitude"
  t.boolean  "geolocation"
  t.integer  "rating"
  t.string   "gear",         default: ""
  t.string   "style"
  t.boolean  "gym?"
  t.boolean  "verification"
end -->
