<%= render 'climb' %>
<%= render 'checkins/new' %>
<div class="row">
  <% @climb.comments.each do |comment| %>
    <div class="col s12 m4 comment-card">
      <div class="card blue-grey darken-1 comment-card">
        <div class="card-content white-text">
            <span class="card-title"><%= comment.title %></span>
            <p><%= comment.body %></p>
            <p>By <%= comment.user.username %></p>
        </div>
        <div class="card-action">
          <% if comment.user_id == session[:user_id] %>
            <%= link_to "update", edit_comment_path(comment), class: "waves-effect waves-light btn" %>
            <%= link_to "delete", comment_path(comment), method: :delete, :class => "btn btn-default", data: { confirm: "Are you sure you want to delete this comment?" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
