<div class="row">
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image profile_pic">
             <img class="profile_image" src="<%= @user.image%>" >

             <span class="card-title"><%= @user.username %></span>
           </div>
           <div class="card-content">
             <p> Member since: <%=@user.created_at.strftime("%b %-d %Y, %H:%M%p")%> </p>
             <div class="col-md-5 ">
               <ul>
                 <li>test</li>
                 <li>test</li>
                 <li>test</li>
                 <li>test</li>
               </ul>
           </div>
           <div class="card-action">
             <%= link_to "update", user_path(@user), :class => "btn btn-primary btn-sm" %>
             <%= link_to "delete", user_path(@user), method: :delete, :class => "btn btn-default btn-sm", data: { confirm: "Are you sure you want to delete your profile?" } %>
           </div>
         </div>
       </div>
     </div>
     <div class="col s12 m7">
       <h3 class = "header">Place I've climbed</h3>

         <div class="card horizontal">
           <div class="card-image">
             <img src="http://lorempixel.com/100/190/nature/10">
           </div>
           <div class="card-stacked">
             <div class="card-content">
               <p>climb-data</p>
             </div>
             <div class="card-action">
               <a href="#">show climb page</a>
             </div>
             <%= link_to "Add new Location!", new_climb_path(@climb), :class => "waves-effect btn-flat  buttons2" %>

           </div>
         </div>
       </div>
<div class="col-md-12">
  <div class="col-md-6">
    <span class="profile">
      <div class="profile_image">
        <h1 class="test"><%= @user.username %></h1>
        <p> Member since: <%=@user.created_at.strftime("%b %-d %Y, %H:%M%p")%> </p>
        <img src="<%= @user.image%>">
      </div>
    </span>
    <%= link_to "update", edit_user_path(@user), :class => "btn btn-primary btn-sm" %>
    <%= link_to "delete", user_path(@user), method: :delete, :class => "btn btn-default btn-sm", data: { confirm: "Are you sure you want to delete your profile?" } %>
  </div>
  <div class="col-md-6 ">
    <h1>Place I've climbed</h1>
    <div class="col-md-5 user_climb_list">
      <% @climb_name.each.with_index do |name, i| %>
        <li><%= name %> <%=@time_checked_in[i] %></li>
      <% end %>
      <%= link_to "Add new Location!", new_climb_path(@climb), :class => "btn btn-primary" %>
    </div>
  </div>
</div>
