<div class="row">
  <h3 class="card-title"><%= @user.username %></h3>
       <div class="col s12 m4">
         <div class="card">
           <div class="card-image profile_pic">
             <img class="profile_image" src="<%= @user.image%>" >
           </div>
           <div class="card-content">
             <p> Member since: <%=@user.created_at.strftime("%b %-d %Y, %H:%M%p")%> </p>
           <div class="card-action">
             <%= link_to "update", user_path(@user), :class => "btn btn-primary btn-sm" %>
             <%= link_to "delete", user_path(@user), method: :delete, :class => "btn btn-default btn-sm", data: { confirm: "Are you sure you want to delete your profile?" } %>
           </div>
         </div>
       </div>
     </div>
     <div class="col s12 m7">
     <div>
      <h3> Climb Log<span>  <%= link_to "new climb!", new_climb_path(@climb), :class => "btn btn-primary" %></h3></span>
       </div>
         <div class="card horizontal">
           <div class="card-image">
             <img src="http://lorempixel.com/100/190/nature/10">
           </div>
           <div class="card-stacked">
             <div class="card-content">
              <h3> Check-Ins</h3>
                   <div class="col-md-5 user_climb_list">
                   <% @climb_name.each.with_index do |name, i| %>
                   <li><%=@time_checked_in[i] %> - <%= link_to name, climb_path(@justins_landspeeder[i]) %> </li>
                   <% end %>
                  </div>
              <h3> Comments Log </h3>
                  <div class="col-md-5 user_comments_list">
                    <% @user.comments.each.with_index do |comment, i| %>
                    <li><%= comment.created_at.strftime("%b %-d %Y, %H:%M%p") %> -  <%= comment.title %> </li>
                    <% end %>
                  </div>
             </div>
           </div>
         </div>
       </div>
<div class="col-md-12">
</div>
